RewriteEngine On

#sample script
#RewriteRule index.php controller/relay.php

RewriteCond %{REQUEST_URI} !=/controller/relay.php
RewriteCond %{REQUEST_URI} !=/react_books/dist/bundle.js

RewriteRule .* controller/relay.php
#RewriteRule (?!\.js$) controller/relay.php